/*!
 * Bootstrap-custom
 * 对Bootstrap中某些控件提供自定义样式
 * 
 */
.query > tbody > tr > td{
            border-top-style: none;
            vertical-align: middle;
            text-align: left;
            padding:4px 1px 4px 1px;
        }
.query > tbody > tr > td.ta-r{ text-align: right;}
.query{margin-bottom: 0px;}
 body{ background: #fff;}
        .form-inline {
            padding: 10px 15px;
        }
        .dxeBase_Office2010Blue{ font-size: 14px;}
        input[type=button], input[type=reset], input[type=submit], input[type=file], .uploadify-button {
                font-size: 14px;    height: auto;    background-color: #337ab7;color: #Fff;
    border-color: #2e6da4;
    min-width: 80px;
        }
.dxeTextBox_Office2010Blue, .dxeMemo_Office2010Blue{border: 1px #ddd solid;}
.dxeButtonEdit_Office2010Blue{border: 1px #ddd solid;}
.dxgvHeader_Office2010Blue{border: 1px #ddd solid;}
.dxgvControl_Office2010Blue, .dxgvDisabled_Office2010Blue{ border: 1px #ddd solid;}
.btn-primary .dxeLoadingDiv_Office2010Blue{ padding: 0px;border: 0px;background: none;color: #ffffff;}
.btn-primary .dxbButton_Office2010Blue{background: none;color: #ffffff;border: 0px;}
.btn-primary .dxbButton_Office2010Blue div.dxb{padding: 0px;border: 0px;}
.dxeButtonEditButton_Office2010Blue, .dxeSpinLargeIncButton_Office2010Blue, .dxeSpinLargeDecButton_Office2010Blue{ background: none;border: 0px;}

.fl{ float: left;}
.fr{ float: right;}
